body {
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .masthead-heading,
  .masthead-intro,
  .content-footer {
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: #104E8B;
  }
  
  a:hover {
    color: #1874CD;
  }
  
  a:visited {
    color: #6183A6;
  }
  
  .masthead-intro {
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 5em;
    color: #fff;
    letter-spacing: 0.1em;
  }
  
  .masthead-heading {
    margin-top: -0.2em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #B0E0E6;
    text-shadow: 2px 2px #000;
  }
  
  .masthead {
    padding: 6em 0;
    background-image: url(https://download.unsplash.com/photo-1432234525151-015bc7937f1c);
    background-size: cover;
    background-repeat: no-repeat;
    border-top: solid 1em #B0E0E6;
  }
  
  .masthead-intro {
    margin-bottom: 0.1em;
  }
  
  .masthead-heading {
    margin-bottom: -0.2em;
  }
  
  .content-footer,
  .introduction-section,
  .location-section,
  .questions-section {
    max-width: 38em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
  }
  
  .social > li {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
  }
  
  .content-footer {
    background-color: #B0E0E6;
    max-width: 100%;
  }
  
  .content-footer > p {
    color: white;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  
  .introduction > p,
  .location > p,
  .content-footer > p {
    font-weight: 300;
    letter-spacing: 0.05em;
  }
  
  .questions-section > h2 {
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #FBEC5D;
  }
  
  /* MEDIA QUERIES */
  
  @media only screen and (max-width: 500px) {
    .masthead {
      padding: 3em 0;
    }
    .masthead-intro {
      font-size: 3em;
    }
    .masthead-heading {
      font-size: 3em;
    }
    .introduction-section,
    .location-section,
    .questions-section {
      max-width: 85%;
    }
  }
  