
body{
    background-color: azure;
}
.job_title{
    display: flex;
    font-weight: lighter;
    
}
.Chips{
    display: flex;
    padding: 5px;
}

.Chip{
    margin-right: 5px;
}
.markdown{
    display: flex;
    word-break: break-all;
}
.job_image{
    height: 50px;
}