/* body{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
section.cover{
  background: linear-gradient(45deg,#151680 50%,#261681 50%);
  padding: 20px 10%;
	border-bottom: 50px solid transparent;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
section nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  color: #fff;
}
section nav ul{
  list-style-type: none;
  font-size: 0.8rem;
}
section nav ul li {
  float: left;
  padding: 10px;
}
.ghost-btn{
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
}
div.cta-btn{
  margin: 40px 0 20px 0;
}
div.cta-btn a{
  padding: 10px 20px;
  background-color: #D20B54;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
}
section.cover .content .heading{
  font-size: 2.5rem;
  font-weight: 500;
}
section.cover .content{
  color: #fff;
  padding: 40px 0;
  position: relative;
}
section.cover .content .highlight{
  font-size: 10px;
}
section.cover .content .card{
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 140px;
  padding: 20px 40px;
  background-color: #fff;
  color: #888;
  border-radius: 5px;
  transition: 200ms all ease-in-out;
  cursor: pointer;
}
section.cover .content .card:hover{
  transform: translateY(-5px);
  color: #222;
} */

