body{
    height:100%;
    width:100%;
    margin:0;
    font-family: 'Droid Sans', sans-serif;
    font-size:14px;
  }
  /* body{
    display: flex;
  } */
  .container{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin:auto;
    background: #FFFFFF;
    max-width:550px;
  }
  .container-fluid {
    
  }
  .container2{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin:auto;
    background: #FFFFFF;
    margin-top: 10vh;
    max-width:550px;
    text-align: center;
  }

  .login-form{
    padding:40px 60px;
    /* height: 300px; */
  }


  .login-logo{
    font-size:48px;
    font-weight:600;
    color: #EB5202;
  }
  
  .login-logo span{
    color:#000
  }
  .login-info{
    color:#EB5202;
    font-size:28px;
  }
  
  .login-input{
    padding:16px 0px;
  }
  .login-input label{
    display:block;
  }
  
  .login-input input{
    padding:10px;
    width:100%;
  }
  
  .login-submit{
    margin:30px 0px 0px 0px;
  }
  .login-submit button{
    background: #EB5202;
    border:0px;
    font-size:16px;
    font-weight:500;
    color:#FFF;
    padding:15px;
  }
