@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body {
  font-family: 'titillium web', serif;
  height: 100vh;
  margin: 0;  
  background: linear-gradient(135deg, #B0DAB9, #DAD299);
}
h1 {
  line-height: 1em;
  color: #480048;
}
.header-wrap {
  margin-bottom: 3em;
}
.container {
  margin-top: 20vh;
  width: 300px;
  height: 400px;
  padding: 2em;
  border-radius: 6px;
  background: white;
  clear: "both";
  box-shadow: 0 4px 10px 1px rgba(0,0,0,0.2); 
}
.container2{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin:auto;
  background: #FFFFFF;
  margin-top: 10vh;
  padding: 2em;
  max-width:350px;
  text-align: center;
}

/* form { */
  .text-wrap {
    margin: 1em 0;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: column;
  }
  /* .text {
    margin-top: 5px;
  } */
  .button-wrap {
      text-align: center;
        color: #480048;
  }

  input {
      width:100%;
      height: 3em;
      background: lighten(#EAECC6, 5%);
      padding: 1em 1em;
      border: solid rgba(0,0,0,0.2) 2px;
      border-radius: 4px; 
      box-sizing: border-box;
      transition: background 0.2s ease-in;
        outline: none;
        background: lighten(#FFE47A, 20%);
      position: relative;
      padding: 0.5em 1.5em;
      left: 50%;
      transform: translateX(-50%);
      border: solid #B0DAB9 2px;
      background: none;
      font-weight: bold;
      color: #480048;
      margin-bottom: 20px;
  }
