.favorites{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 20px ;
    background-color: white;   
    height: max-content;
}

.checkout_intro{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}